<div class="container">

  <h1>Mes commandes</h1>

  <div class="mx-auto">
      <% @orders.each do |order| %>
        <hr class="my-4">
        <div class="d-flex justify-content-between">
          <div> 
            <p class="my-lead my-0"> Commande n°<%= order.id %></p>
            <p class="my-0 py-0">Créée le <%= order.created_at.strftime(" %m. %m. %C") %></p>
          </div>
          <div class="d-flex flex-row-reverse"><%= link_to 'Voir la commande', order_path(order.id), class:"my-link-secondary" %></div>
        </div>
      <% end %>
  </div>
</div>