@import "variable";

.my-img-card {
  object-fit: contain;
  height: 250px; 
  background-color: $my-light;
  &-sm {
    object-fit: contain;
    width: 200px;
  }
}

.my-card-hover{
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}