@import "variable";

.my-bg-primary {
	background-color: $my-primary;
  opacity: 0.9;
}
.my-text-primary {
  color: $my-primary;	
}

.my-bg-secondary {
	background-color: $my-secondary;
}
.my-text-secondary {
  color: $my-secondary;	
}

.my-bg-light {
	background-color: $my-light;
}
.my-text-light {
  color: $my-light;	
}

.my-bg-blue-light {
	background-color: $my-blue-light;
}
.my-text-blue-light {
  color: $my-blue-light;	
}

.my-bg-dark {
	background-color: $my-dark;
}
.my-text-dark {
  color: $my-dark;	
}


.my-alert-warning {
  background-color: #FEDC5D;
  opacity: 0.6;
}
.my-alert-danger {
  background-color: #D96459;
  opacity: 0.6;
}
.my-alert-success {
  background-color: #A3CFC5;
  opacity: 0.7;
}
.my-alert-info {
  background-color: #B4D4ED;
  opacity: 0.6;
  color: $my-dark;
}