@import "variable";

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  position: relative;
}

* {
  color: $my-dark;
}

.footer {
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
