<section class="footer mt-5">
<footer class="my-bg-light mt-5 justify-centent-end">
  <div class="container text-center p-3">
    <p class="d-flex justify-content-center align-items-center">
      <span class="me-3"></span>
    </p>

    <h3 class="my-text-primary m-2">Kitties Shop</h3>
    <p class="text-muted">Perrine Toubeau, Morgane Tesier, Carol Meney, Erwann Le Noach'H, Florence Perez.</p>
    <p class="text-muted">© 2021 Copyrigh</p>
  </div>
</footer>
</section>