<footer class="my-bg-light mt-5 justify-centent-end ">
  <div class="container text-center p-4">
    <p class="d-flex justify-content-center align-items-center">
      <span class="me-3"></span>
    </p>
    <%= link_to "S'inscrire", new_user_registration_path, class:"my-btn-secondary" %>
    <p class="text-muted pt-5">
      © 2021 Copyright
    </p>
  </div>
</footer>