<section class="">
  
      <footer class="text-center text-white my-bg-light mt-5" >

        <div class="container p-4 pb-0">

          <section class="">
            <p class="d-flex justify-content-center align-items-center">
              <span class="me-3"></span>
              
                <%= link_to "S'inscrire", new_user_registration_path, class:"my-btn-blue-light my-btn-blue-light-lg" %>
              
            </p>
          </section>
        </div>

        <div class="text-center p-3 my-bg-light" >
          © 2020 Copyright:
          <a class="text-white" href=""></a>
        </div>
      </footer>
    </section>